*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

nav li, a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #d7cfcf;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  top:0;
  z-index: 99;
}

body{
    padding-top: 110px;
}

.Navlist{
  list-style: none;
  background-color: #ffffff;
  padding: 13px 0px;
  border-radius: 30px;
  box-shadow: 0px 3px 10px  rgb(103, 103, 103);
}

.Navlist ls{
  background-color: #ffffff;
  padding: 13px 0px;
  border-radius: 20px;
  display: inline;
}

.Navlist ls a:hover{
  background-color: #000000;
  padding: 13px 18px;
  border-radius: 20px;
  display: inline;
  color: #ffffff;
}

.Navlist ls a{
  color: #000000;
  background-color: #ffffff;
  padding: 13px 18px;
  border-radius: 20px;
}


.button1{
  padding: 17px 25px;
  text-align: center;
  color: #000000;
  background-color: transparent;
  font-weight: 600;
  }

  .button1:hover{
    padding: 17px 25px;
    text-align: center;
    color: #b8b8b8;
    background-color: #000000;
    font-weight: 600;
    border-radius: 35px;
  }

  .button2{
    padding: 17px 25px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border-radius: 30px;
    font-weight: 500;
  }

  .button2:hover{
    padding: 17px 25px;
    text-align: center;
    color: #ffffff;
    background-color: #3b3a3a;
    border-radius: 30px;
    font-weight: 500;
  }



  .footer{
    background-color: #000000;
    padding: 60px 70px;    
  }
  
  .container2{
    width: 100%;
    background-color: #000000;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }


footer h4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px 35px;
  font-weight: 520;
  color: white;
  font-size: x-large;
}

  .footercolumn li,h4{
    background-color: black;
    padding: 10px;
    color: #ffffff;
  }
  
  .footercolumn p{
    background-color: black;
    color: #ffffff;
    padding: 2.15px;
  }

.footercolumn{
  margin-bottom: 15px;
  background-color: #000000;
}

  ul{
    list-style: none;
  }

  .black{
    background-color: black;
  }